body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: hsl(255, 40%, 8%);
  }
  
  .back-button-container {
    position: absolute;
    top: 10px;
    left: 10px;
  }

h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: .5rem;
  }

  #hover-text {
    text-align: center;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  img {
    max-width: 100%;
  }
  
  .gallery {
    --img-size: calc(100px - .5rem / 2);
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(6, var(--img-size));
    grid-template-rows: repeat(4, var(--img-size));
    
    img {
      aspect-ratio: 1;
      object-fit: cover;
      grid-column: span 2;
      border-radius: .5rem;
      clip-path: path('M 80 20 C 100 0 100 0 120 20 C 140 40 160 60 180 80 C 200 100 200 100 180 120 C 160 140 140 160 120 180 C 100 200 100 200 80 180 C 60 160 40 140 20 120 C 0 100 0 100 20 80 Z');
      transition: 
        filter 500ms,
        clip-path 500ms;
      
      &:nth-of-type(4) {
        grid-column: 2 / span 2;
      }
      &:nth-of-type(9) {
        grid-column: 2 / span 2;
      }
      
      &:hover {
        z-index: 100;
        clip-path: path('M 0 0 C 100 0 100 0 200 0 C 200 50 200 50 200 80 C 200 100 200 100 200 120 C 200 150 200 150 200 200 C 100 200 100 200 0 200 C 0 150 0 150 0 120 C 0 100 0 100 0 80 Z');
      }
      
      &:not(:hover) {
        animation: zIndexHack 500ms;
      }
    }
  }
  
  .gallery:hover > img {
    filter: brightness(.5) saturate(.5);
  }
  
  .gallery > img:hover {
    filter: brightness(1) saturate(1.5);
  }
  
  
  @keyframes zIndexHack {
    0%, 100% {
      z-index: 10;
    }
  }
  @media (max-width: 768px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  
  @media (max-width: 480px) {
    .gallery {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 1rem;
        grid-auto-rows: span 2; 
    }

    .gallery img {
        width: 100%; 
        height: auto; 
        min-height: 300px; 
        object-fit: contain;     
        grid-column: 1fr 1fr; 
        grid-row: auto; 
    }
  }
