@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: "Poppins";
}
ul, li {
  padding: 0;
  list-style-type: none;
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 30px;
}
header{
  grid-column: span 3;
  text-align: center;
  border-bottom:2px solid rgba(165, 191, 162, 0.733) ;
}
nav{
  align-self: center;
  padding: 20px;
  border-right: 1px solid  rgba(165, 191, 162, 0.733); 
}
nav li{
  text-decoration: underline goldenrod;
  cursor: pointer;
  
}
article{
  padding: 30px;
}
article h2{
  font-size: 3.5em;
  max-width: 800px;
}
article img{
  width: 100%;
  border-radius: 5px;
}
article p{
  margin-top: 20px;
  line-height: 2em;
  color: #777;
}
aside{
  padding: 30px;
  border-left: 1px solid #ddd;
}
footer{
  grid-column: span 3;
  padding: 30px;
  border-top: 1px solid black;
  text-align: center;
}
@media screen and (max-width: 1200px){
  nav{
    grid-column: span 3;
    border-right: 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  nav li{
   
    display: inline-block;
    margin-right:20px;
  }
  article{
    grid-column: span 2;
    text-align: center;
  }
  article h2{
    margin: 0;
    padding: 0;
   justify-items: center;
  }
  aside{
    padding: 16px;
  }
}

@media screen and (max-width: 980px){
  nav, article, aside{
    grid-column: span 3;
  }
  aside{
    border-top: 1px solid #ddd;
    text-align: center;
  }
  article h2{
      font-size: 2.3em;
      margin-bottom: 30px;
  }
}